# Java build output
target/
out/

# IntelliJ IDEA specific
.idea/
*.iml

# Maven specific
.mvn/
!**/src/main/**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/.mvn/wrapper/maven-wrapper.properties

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# IDE ignore
.DS_Store


